
/* kontak */
section-contact{
  padding: 150px 10%;
}

.kontak{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: 5px 0 200px 0;
}

.kontak-img{
  width: 300px;
  height: 350px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  background: #f1f5f9;
}

.kontak-img img{
  width: 100%;
  object-fit: contain;
}

.kontak-img h2{
  font-size: 30px;
  color: var(--color-primary);
  margin-top: 15px;
}

.kontak-form{
  padding: 10px;
}

.kontak-form h2{
  font-size: 30px;
  color: var(--color-primary);
}

.kontak-form hr{
  height: 4px;
  background: var(--color-primary);
  margin: 15px 0;
  width: 300px;
}

.medsos{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.medsos img{
  width: 30px;
  margin-right: 20px;
}

.medsos p{
  font-weight: 600;
  font-size: 18px;
  font-family: "Lato";
}


