@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.navbar .hamburger span {
  color: #c81c1c;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand img {
  width: 45px;
  height: 45px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar .navbar-brand h1 {
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
  margin-left: 20px;
  font-weight: 600;
  color: #fff;
}

.navbar .form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .form-inline .btn {
  width: 70px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navbarKu {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.navbarKu .navbar-brand h1,
.navbarKu .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000;
}

.nav-item {
  position: relative;
}

.nav-item .dropdown-menu {
  position: absolute;
  left: 0;
}




/*button*/
    .btn-custom {
    background-color: #329817;
    border-color: #329817;
    color: white; /* Warna teks putih untuk kontras */
}
.btn-custom:hover {
    background-color: #287a12; /* Warna lebih gelap untuk efek hover */
    border-color: #287a12;
}


.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slideshow .satu {
  background-image: url("../images/background/a.jpeg");
}

.slideshow .dua {
  background-image: url("../images/background/c.jpeg");
}

.slideshow .tiga {
  background-image: url("../images/background/b.jpeg");
}

.slideshow .empat {
  background-image: url("../images/background/d.JPG");
}

.slideshow .lima {
  background-image: url("../images/background/e.JPG");
}

.slideshow .enam {
  background-image: url("../images/background/team.jpeg");
}

.slideshow .container {
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.slideshow .container .mainText {
  position: relative;
}

.slideshow .container .mainText .garis {
  position: absolute;
  width: 7px;
  height: 80px;
  border-radius: 10px;
  background-color: #FFA51C;
}

.slideshow .container .mainText h3 {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 30px;
  color: #fff;
}

.slideshow .container .mainText h1 {
  margin: 20px 0 40px 30px;
  font-weight: 1000;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
}

.slideshow .container h3 {
  color: #fff;
  font-size: 1.1rem;
}

.title {
  margin: 150px auto 30px auto;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
}

.title h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
}

.title p {
  font-size: 1.1rem;
  text-align: center;
}

.perGaleri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.perGaleri img {
  width: 250px;
  height: 150px;
  margin: 5px;
}

.scroll {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.scroll .navbar-brand h1,
.scroll .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000;
}

.sambutan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.sambutan h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.sambutan p {
  font-style: italic;
  font-size: 1rem;
}

.kepsek {
  background-image: url("../images/bg-visimisi.png");
  margin: 30px 0;
}

.kepsek .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kepsek .container img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.kepsek .container .visiMisi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kepsek .container .visiMisi .visi {
  margin: 0 50px 0 100px;
}

.kepsek .container .visiMisi .visi h5 {
  font-size: 1.2rem;
  font-style: italic;
}

.kepsek .container .visiMisi .visi h3 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.kepsek .container .visiMisi .misi h5 {
  font-size: 1.2rem;
  font-style: italic;
}

.kepsek .container .visiMisi .misi p {
  font-size: 1.2rem;
  font-family: 'PT Serif', sans-serif;
}


.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; /* Opsional: untuk memberikan ruang di atas dan bawah */
}


.titleArtikel {
  padding: 130px 0 20px 0;
}

.titleArtikel h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 600;
}

.artikel .perArtikel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.artikel .perArtikel:hover h3 {
  color: #0e85e7;
  -webkit-transition: .5s;
  transition: .5s;
}

.artikel .perArtikel img {
  width: 250px;
  height: 150px;
  margin-right: 20px;
  border-radius: 10px;
}

.artikel .perArtikel h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
  line-height: 30px;
}

.artikel .perArtikel p {
  color: #000;
}

.iconBox {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 9999999999999999999999999999999999999999999;
}

.iconBox .perIconBox {
  width: 50px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.perIconBox:hover {
  color: #dadada;
}

.wa {
  background-color: #1bc22e;
}

.fb {
  background-color: #4867AA;
}

.ig {
  background: -webkit-gradient(linear, right top, left bottom, from(#5056C5), color-stop(#EE4B51), to(#F7B04D));
  background: linear-gradient(to bottom left, #5056C5, #EE4B51, #F7B04D);
}

.yt {
  background-color: #FF0000;
}

.linkin {
  background-color: #0077B5;
}

.jurusan {
  background-color: #f3f1f1;
  padding: 50px 0;
  margin-top: 80px;
}

.jurusan h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.jurusan .boxJurusan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.jurusan .boxJurusan .perBox {
  position: relative;
  margin: 10px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.jurusan .boxJurusan .perBox img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.jurusan .boxJurusan .perBox h3 {
  position: absolute;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  padding-left: 5px;
  color: #fff;
  width: 100%;
  height: 35px;
  background-color: #28a745;
  font-size: 1rem;
  z-index: 2;
}

.jurusan .boxJurusan .perBox:hover img {
  opacity: .6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.containerArtikelHome {
  padding-top: 50px;
}

.containerArtikelHome h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.containerArtikelHome .artikelHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.containerArtikelHome .artikelHome .perArtikelHome {
  width: 350px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.containerArtikelHome .artikelHome .perArtikelHome:hover h3 {
  color: #0e6ce7;
  -webkit-transition: .3s;
  transition: .3s;
}

.containerArtikelHome .artikelHome .perArtikelHome img {
  width: 100%;
  height: 225px;
  border-radius: 5%;
  margin-bottom: 10px;
}

.containerArtikelHome .artikelHome .perArtikelHome h3 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  color: #000;
}

.containerArtikelHome .artikelHome .perArtikelHome small {
  color: #000;
}

.containerArtikelHome .artikelHome .perArtikelHome small span {
  color: #0e85e7;
  font-weight: 700;
}

.containerArtikelHome .artikelHome .perArtikelHome p {
  font-size: .9rem;
  color: #000;
}




/* CSS for Contact Section */

#contact {
  padding: 60px 0;
  background: #f9f9f9;
}

#contact .section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 15px;
}

#contact .section-title h3 {
  font-size: 26px;
  color: #16a307;
  margin-bottom: 20px;
}

#contact .section-title p {
  font-size: 16px;
  color: #6c757d;
}

.info-box {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.info-box i {
  font-size: 36px;
  color: #16a307;

  margin-bottom: 10px;
}

.info-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}

.info-box p {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 0;
}

.info-box:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

#contact iframe {
  width: 100%;
  border: 0;
  border-radius: 8px;
}

.php-email-form {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
}

.php-email-form .form-group {
  margin-bottom: 20px;
}

.php-email-form input,
.php-email-form textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.php-email-form input:focus,
.php-email-form textarea:focus {
  border-color: #28a745;
  outline: none;
}

.php-email-form button[type="submit"] {
  background: #28a745;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}

.php-email-form button[type="submit"]:hover {
  background: #003d80;
  color: #fff;
}

.loading {
  display: none;
  text-align: center;
  color: #0056b3;
}

.sent-message {
  display: none;
  color: #28a745;
  text-align: center;
}

.error-message {
  display: none;
  color: #dc3545;
  text-align: center;
}






.footer {
  background-color: #3bbd34;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 125px;
}

.footerContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContactUs .perFooterContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.footerContactUs .perFooterContactUs p {
  margin: 0 0 0 20px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footerAbout a {
  margin: 5px 0;
}

.btn-newsletter {
  width: 100%;
  margin-top: 10px;
}

.footerCopyright {
  width: 100%;
  height: 60px;
  background-color: #010300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerCopyright p {
  margin: 0;
}

/* Fasilitas */
.perArtikel {
  display: flex; /* Membuat layout horizontal */
  align-items: center; /* Agar gambar dan teks sejajar vertikal */
  margin-bottom: 20px; /* Beri jarak antar artikel */
}

.perArtikel img {
  max-width: 150px; /* Ukuran maksimum gambar */
  height: auto; /* Proporsi gambar tetap */
  margin-right: 20px; /* Jarak antara gambar dan teks */
  border-radius: 8px; /* Opsional: sudut gambar melengkung */
}

.textArtikel {
  flex: 1; /* Agar teks mengambil ruang yang tersisa */
}

.textArtikel h3 {
  margin: 0 0 10px; /* Jarak bawah judul */
}

.textArtikel p {
  margin: 0; /* Menghapus margin default */
}



@media (max-width: 768px) {
  .perArtikel {
    flex-direction: column; /* Ubah layout menjadi vertikal */
    align-items: center; /* Tengahkan konten */
  }

  .perArtikel img {
    margin-right: 0; /* Hilangkan jarak kanan */
    margin-bottom: 10px; /* Tambahkan jarak bawah gambar */
  }

  .textArtikel {
    text-align: center; /* Teks menjadi rata tengah */
  }
}


/* UKM */

.ekstrakulikuler {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.ekstrakulikuler .perEkstrakulikuler {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 20px 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.ekstrakulikuler .perEkstrakulikuler img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.ekstrakulikuler .perEkstrakulikuler p {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009608;
  color: #fff;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateY(40px);
  transition: transform 0.5s;
}

.ekstrakulikuler .perEkstrakulikuler:hover {
  transform: scale(1.05);
}

.ekstrakulikuler .perEkstrakulikuler:hover p {
  transform: translateY(0);
}

.containerEkstra {
  width: 100%;
  height: 70vh;
  background-image: url("../images/bola.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* .titleEkstrakulikuler {
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0;
}

.pembinaEkstrakulikuler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pembinaEkstrakulikuler .perPembina {
  width: 250px;
  height: 200px;
  margin: 20px 10px;
  position: relative;
}

.pembinaEkstrakulikuler .perPembina img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.pembinaEkstrakulikuler .perPembina h5 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0077B5;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  font-size: 1rem;
} */

/* UKM */
.ekstrakulikuler {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perEkstrakulikuler {
  width: 200px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.perEkstrakulikuler img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom: 2px solid #198900;
}

.perEkstrakulikuler p {
  padding: 10px;
  font-weight: bold;
  color: #333;
}

.perEkstrakulikuler:hover {
  transform: scale(1.05);
}



.fasilitas {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detailArtikel {
  margin: 140px 0 70px 0;
}

.detailArtikel h2 {
  font-weight: 700;
  margin: 0;
  font-size: 2.5rem;
}

.imgArtikel {
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
}

.shareArtikel p,
.penulis p {
  font-weight: 700;
  text-transform: uppercase;
}

.shareArtikel img,
.penulis img {
  width: 60%;
  height: 200px;
  border-radius: 10px;
}

.shareArtikel h4,
.penulis h4 {
  font-weight: 600;
}

.containerIconShare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerIconShare .iconShare {
  width: 50px;
  height: 40px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.fixed {
  position: fixed;
  right: 100px;
  top: 150px;
}

.mainDetailArtikel .row .col-md-8 h1,
.mainDetailArtikel .row .col-md-8 h2,
.mainDetailArtikel .row .col-md-8 h3,
.mainDetailArtikel .row .col-md-8 h4,
.mainDetailArtikel .row .col-md-8 h5,
.mainDetailArtikel .row .col-md-8 h6 {
  font-weight: 600;
}

.kontak {
  margin: 150px 0 150px 0;
}

.kontak form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kontak form .formKontakKiri {
  width: 45%;
}

.kontak form .formKontakKanan {
  width: 50%;
}

iframe {
  width: 100%;
  height: 500px;
  margin: 0;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.footerHubungiKami {
  margin: 0;
}



/* Profile youtube*/
.video-container {
  text-align: center;
  margin: 5px 0;
}
.video-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}


html {
    scroll-behavior: smooth;
}
